<div class="row">
	<h2>Compétences</h2> 
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					Langues
				</div>
				<div class="panel-body">
					<div class="text-center">
						Anglais, Espagnol
					</div>
				</div>	
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-danger">
				<div class="panel-heading">
					Méthodes agiles
				</div>
				<div class="panel-body">
					<div class="text-center">
						<div>Scrum, XP, Kanban,</div>
						<div>Lean Software Development</p>
					</div>
				</div>	
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					Gestion de projet
				</div>
				<div class="panel-body">
					<div class="text-center">
						Chiffrage, planning, suivi de l'avancement, reporting
					</div>
				</div>	
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					Serveur d'application
				</div>
				<div class="panel-body">
					<div class="text-center">
						Tomcat, OAS, Websphere, JBoss
					</div>	
				</div>	
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-danger">
				<div class="panel-heading">
					Langages
				</div>
				<div class="panel-body">
					<div class="text-center">
						Java/J2EE, Javascript, C, PHP, PL/SQL, XML
					</div>
				</div>	
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					Bases de données
				</div>
				<div class="panel-body">
					<div class="text-center">
						Oracle, MySql, PostgreSQL
					</div>	
				</div>	
			</div>
		</div>		
	</div>    
	<div class="row">
		<div class="col-sm-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					Frameworks
				</div>
				<div class="panel-body">
					<div>
						<strong>Intégration continue : </strong>Hudson / Jenkins, Sonar
					</div>
					<div>
						<strong>Java : </strong>GWT, Spring, iBatis, Hibernate, Maven, JUnit, Apache CXF
					</div>
					<div>
						<strong>Javascript : </strong>JQuery, AngularJS
					</div>
					<div>
						<strong>PHP : </strong>Symfony2, Doctrine2
					</div>
					<div>
						<strong>Mobile : </strong>Android, AChartEngine
					</div>
				</div>	
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					Gestion de configuration
				</div>
				<div class="panel-body">
					<div class="text-center">
						Git, Mercurial, SVN, CVS, Clearcase, Synergy
					</div>
				</div>	
			</div>
		</div>
	</div>
	
</div>

