<div class="row">
	<div class="col-sm-12 row row-space">
		<div class="col-sm-5 row">
			<a class="btn btn-lg btn-block btn-success" target="_blank" href="http://fr.viadeo.com/fr/profile/mickael.ponsolle">
				<img src="images/viadeo.png" alt="Viadeo"/>
			</a>
		</div>	
		<div class="col-sm-2 row"></div>
		<div class="col-sm-5 row">
			<a class="btn btn-lg btn-block btn-primary" target="_blank" href="http://fr.linkedin.com/in/mickaelponsolle">
				<img src="images/linkedin.png" alt="LinkedIn"/>
			</a>
		</div>	
	</div>
	<div class="col-sm-12 row">
		<div class="col-sm-5 row">
			<a class="btn btn-lg btn-block btn-warning" target="_blank" href="http://www.doyoubuzz.com/mickael-ponsolle">
				<img src="images/DoYouBuzz.png" alt="DoYouBuzz"/>
			</a>
		</div>	
		<div class="col-sm-2 row"></div>
		<div class="col-sm-5 row">
			<a class="btn btn-lg btn-block btn-info" target="_blank" href="https://twitter.com/mickaelponsolle">
				<img src="images/twitter.png" alt="Twitter"/>
			</a>
		</div>	
	</div>	

</div>
