<div class="row">
	<h2>Experiences professionnelles</h2>
	<div class="panel panel-primary" ng-repeat="experience in experiences">
		<div class="panel-heading" ng-init="experience.collapsed = true" ng-click="experience.collapsed = !experience.collapsed" tooltip-placement="bottom" tooltip="Cliquez pour avoir plus de détails" tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[experience.collapsed]}}">
			<strong>{{experience.societe}}</strong> - {{experience.ville}} ({{experience.departement}})<span ng-show="experience.comptemission"> - Mission pour {{experience.comptemission}}</span>
			<em class="pull-right">{{experience.dates}}</em>
		</div>
		<div class="list-group" collapse="experience.collapsed">
			<div class="list-group-item" ng-repeat="projet in experience.projets">
				<p>
					<div ng-repeat="description in projet.description">{{description}}</div>
				</p>
				<small ng-show="projet.envTech">Environnement technique : {{projet.envTech}}</small>
			</div>	
		</div>	
	</div>	
</div>

