<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Formations professionnelles
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="row">
					<div class="col-sm-8">AngularJS - ORSYS - 05/2014</div>
					<div class="col-sm-4">
						<a href="https://angularjs.org/" target="_blank"><img src="images/angularjs.png"/></a>
						<a href="http://www.orsys.fr/" target="_blank"><img src="images/orsys.png" /></a>
					</div>
				</div>
			</div>	
		</div>	
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			Formations initiales
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="row">
					<div class="col-sm-8">
						<p>Ingénieur en Systèmes Electroniques et Informatique Industrielle</p>
						<p>Polytech'Nantes (ex IRESTE)</p>				
						<p>2001 - 2004</p>			
					</div>
					<div class="col-sm-4">
						<a href="http://www.polytech-nantes.fr" target="_blank"><img src="images/polytech-nantes.jpg"/></a>
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<div class="col-sm-8">
						<p>DUT en Génie Electrique et Informatique Industrielle</p>
						<p>IUT de Nantes</p>				
						<p>1999 - 2001</p>				
					</div>
					<div class="col-sm-4">
						<a href="http://www.univ-nantes.fr/" target="_blank"><img src="images/universite-nantes.png"/></a>
					</div>
				</div>
			</div>	
			<div class="list-group-item">
				<p>Baccalauréat Scientifique avec la spécialité Technologie Industrielle</p>
				<p>Lycée Jean Perrin à Rezé</p>				
				<p>1999</p>				
			</div>	
		</div>	
	</div>		
</div>

